<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Welcome to RPS Challenge!</h1>

    <form action="/play" method="post">
      <input type="submit" name="weapon" value="rock">
      <input type="submit" name="weapon" value="paper">
      <input type="submit" name="weapon" value="scissors">
    </form>
  </body>
</html>
